# Challenge 2

In this challenge we will continue working with the `Pokemon` dataset. We will attempt solving a slightly more complex problem in which we will practice the iterative data analysis process you leaned in [this video](https://www.youtube.com/watch?v=xOomNicqbkk).

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemon are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.


## Problem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.

In [39]:
# Import libraries
import numpy as np
import pandas as pd

In [40]:
data=pd.read_csv('Pokemon.csv')

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemon?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

In [41]:
data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

## Making a visual inspection, we can see a pattern of the TOTAL being the sum of the 6 abilities. So we create a for loop to confirm it.

In [42]:

# Create a new column 
data['Total hypothesis'] = 0

# We then use a for loop and the .iterrows() method to iterate over each row in the DataFrame. 
# For each row, we insert the sum of the 6 abilities and update the 'Total hypothesis' column .
#for that row using the .loc method.
for index, row in data.iterrows():
    sum_rows = row['HP'] + row['Attack'] + row['Defense'] + row['Sp. Atk'] + row['Sp. Def'] + row['Speed']
    data.loc[index, 'Total hypothesis'] = sum_rows


data.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total hypothesis
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,309
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,405
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,534
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,634
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,634
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,314

In [43]:
data['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

In [44]:
import pandas as pd

# get unique values that occur 65 times
unique_values = data['Legendary'].value_counts()[data['Legendary'].value_counts() == 65].index

# create boolean mask to filter rows
mask = data['Legendary'].isin(unique_values)

# filter rows into new dataframe
new_data = data[mask]
new_data.head(30)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total hypothesis
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True,580
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True,580
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True,580
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True,680
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True,780
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True,780
262,243,Raikou,Electric,NaN,580,90,85,75,115,100,115,2,True,580
263,244,Entei,Fire,NaN,580,115,115,85,90,75,100,2,True,580
264,245,Suicune,Water,NaN,580,100,75,115,90,115,85,2,True,580
269,249,Lugia,Psychic,Flying,680,106,90,130,90,154,110,2,True,680
270,250,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,True,680
414,377,Regirock,Rock,NaN,580,80,100,200,50,100,50,3,True,580
415,378,Regice,Ice,NaN,580,80,50,100,100,200,50,3,True,580
416,379,Registeel,Steel,NaN,580,80,75,150,75,150,50,3,True,580
417,380,Latias,Dragon,Psychic,600,80,80,90,110,130,110,3,True,600
418,380,LatiasMega Latias,Dragon,Psychic,700,80,100,120,140,150,110,3,True,700
419,381,Latios,Dragon,Psychic,600,80,90,80,130,110,110,3,True,600
420,381,LatiosMega Latios,Dragon,Psychic,700,80,130,100,160,120,110,3,True,700
421,382,Kyogre,Water,NaN,670,100,100,90,150,140,90,3,True,670
422,382,KyogrePrimal Kyogre,Water,NaN,770,100,150,90,180,160,90,3,True,770
423,383,Groudon,Ground,NaN,670,100,150,140,100,90,90,3,True,670
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True,770
425,384,Rayquaza,Dragon,Flying,680,105,150,90,150,90,95,3,True,680
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True,780
427,385,Jirachi,Steel,Psychic,600,100,100,100,100,100,100,3,True,600
428,386,DeoxysNormal Forme,Psychic,NaN,600,50,150,50,150,50,150,3,True,600
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,600
430,386,DeoxysDefense Forme,Psychic,NaN,600,50,70,160,70,160,90,3,True,600
431,386,DeoxysSpeed Forme,Psychic,NaN,600,50,95,90,95,90,180,3,True,600
537,480,Uxie,Psychic,NaN,580,75,75,130,75,130,95,4,True,580

## Problem Solving Iteration 2

Now that we have consolidated the abilities fields, we can update the problem statement. The new problem statement is:

### Which pokemon type is most likely to have the highest `Total` value?

In the updated problem statement, we assume there is a certain relationship between the `Total` and the pokemon type. But we have two *type* fields (`Type 1` and `Type 2`) that have string values. In data analysis, string fields have to be transformed to numerical format in order to be analyzed. 

In addition, keep in mind that `Type 1` always has a value but `Type 2` is sometimes empty (having the `NaN` value). Also, the pokemon type we choose may be either in `Type 1` or `Type 2`.

Now our expectation is:

#### `Type 1` and `Type 2` string variables need to be converted to numerical variables in order to identify the relationship between `Total` and the pokemon type.

The information we need to collect is:

#### How to convert two string variables to numerical?

Let's address the first question first. You can use a method called **One Hot Encoding** which is frequently used in machine learning to encode categorical string variables to numerical. The idea is to gather all the possible string values in a categorical field and create a numerical field for each unique string value. Each of those numerical fields uses `1` and `0` to indicate whether the data record has the corresponding categorical value. A detailed explanation of One Hot Encoding can be found in [this article](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f). You will formally learn it in Module 3.

For instance, if a pokemon has `Type 1` as `Poison` and `Type 2` as `Fire`, then its `Poison` and `Fire` fields are `1` whereas all other fields are `0`. If a pokemon has `Type 1` as `Water` and `Type 2` as `NaN`, then its `Water` field is `1` whereas all other fields are `0`.

#### In the next cell, use One Hot Encoding to encode `Type 1` and `Type 2`. Use the pokemon type values as the names of the numerical fields you create.

The new numerical variables you create should look like below:

![One Hot Encoding](../images/one-hot-encoding.png)

In [45]:
print(set(data['Type 1']))
print(set(data['Type 2']))

{'Grass', 'Ground', 'Bug', 'Electric', 'Water', 'Psychic', 'Dragon', 'Fairy', 'Fighting', 'Normal', 'Flying', 'Rock', 'Ice', 'Fire', 'Ghost', 'Steel', 'Dark', 'Poison'}
{nan, 'Grass', 'Bug', 'Ghost', 'Poison', 'Dragon', 'Fairy', 'Fighting', 'Normal', 'Fire', 'Steel', 'Dark', 'Psychic', 'Ground', 'Electric', 'Water', 'Flying', 'Rock', 'Ice'}

In [46]:
pd.set_option('display.max_columns', None)

In [47]:
from sklearn.preprocessing import OneHotEncoder
# create a copy of the original dataframe to preserve it
encoded_data = data.copy()

# create a OneHotEncoder object
encoder = OneHotEncoder()

# fill NaN values in the Type 2 column with a string value
encoded_data['Type 2'].fillna('None', inplace=True)

# fit the encoder on the Type 1 and Type 2 columns
encoder.fit(encoded_data[['Type 1']])

# transform the Type 1 columns using the encoder
encoded_cols = encoder.transform(encoded_data[['Type 1']]).toarray()

# create new column names for the encoded columns
encoded_col_names = [f'{col}_{val}' for col in ['Type 1']
                     for val in np.unique(encoded_data[col].dropna().values)]

# create a new dataframe with the encoded columns
encoded_df_type1 = pd.DataFrame(encoded_cols, columns=encoded_col_names, index=encoded_data.index)

# fit the encoder on the Type 2 columns
encoder.fit(encoded_data[['Type 2']])

# transform the Type 1 and Type 2 columns using the encoder
encoded_cols2 = encoder.transform(encoded_data[['Type 2']]).toarray()

# create new column names for the encoded columns
encoded_col2_names = [f'{col}_{val}' for col in ['Type 2']
                     for val in np.unique(encoded_data[col].dropna().values)]

# create a new dataframe with the encoded columns
encoded_df_type2 = pd.DataFrame(encoded_cols2, columns=encoded_col2_names, index=encoded_data.index)


# Drop the onehotenconde null column
encoded_df_type2=encoded_df_type2.drop(['Type 2_None'], axis=1)

# concatenate the original dataframe with the encoded dataframe
#encoded_data = pd.concat([encoded_data, encoded_df], axis=1)

# drop the original Type 1 and Type 2 columns
#encoded_data.drop(['Type 1', 'Type 2'], axis=1, inplace=True)


display(encoded_df_type1.head())
display(encoded_df_type1.shape)
display(encoded_df_type2.head())
display(encoded_df_type2.shape)

,Type 1_Bug,Type 1_Dark,Type 1_Dragon,Type 1_Electric,Type 1_Fairy,Type 1_Fighting,Type 1_Fire,Type 1_Flying,Type 1_Ghost,Type 1_Grass,Type 1_Ground,Type 1_Ice,Type 1_Normal,Type 1_Poison,Type 1_Psychic,Type 1_Rock,Type 1_Steel,Type 1_Water
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

(800, 18)

,Type 2_Bug,Type 2_Dark,Type 2_Dragon,Type 2_Electric,Type 2_Fairy,Type 2_Fighting,Type 2_Fire,Type 2_Flying,Type 2_Ghost,Type 2_Grass,Type 2_Ground,Type 2_Ice,Type 2_Normal,Type 2_Poison,Type 2_Psychic,Type 2_Rock,Type 2_Steel,Type 2_Water
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

(800, 18)

In [48]:
# Rename and order the columns as specified:

col_rename = {
    'Type 1_Grass': 'Grass',
    'Type 1_Poison': 'Poison',
    'Type 1_Fire': 'Fire',
    'Type 1_Flying': 'Flying',
    'Type 1_Dragon': 'Dragon',
    'Type 1_Water': 'Water',
    'Type 1_Bug': 'Bug',
    'Type 1_Normal': 'Normal',
    'Type 1_Electric': 'Electric',
    'Type 1_Ground': 'Ground',
    'Type 1_Fairy': 'Fairy',
    'Type 1_Fighting': 'Fighting',
    'Type 1_Psychic': 'Psychic',
    'Type 1_Rock': 'Rock',
    'Type 1_Steel': 'Steel',
    'Type 1_Ice': 'Ice',
    'Type 1_Ghost': 'Ghost',
    'Type 1_Dark': 'Dark'
}

encoded_df_type1=encoded_df_type1.rename(columns=col_rename)
new_col_order = ['Grass', 'Poison', 'Fire', 'Flying', 'Dragon', 'Water', 'Bug', 'Normal', 'Electric', 'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Steel', 'Ice', 'Ghost', 'Dark']
encoded_df_type1 = encoded_df_type1.rename(columns=col_rename)[new_col_order]
display(encoded_df_type1.head())

col_rename2 = {
    'Type 2_Grass': 'Grass',
    'Type 2_Poison': 'Poison',
    'Type 2_Fire': 'Fire',
    'Type 2_Flying': 'Flying',
    'Type 2_Dragon': 'Dragon',
    'Type 2_Water': 'Water',
    'Type 2_Bug': 'Bug',
    'Type 2_Normal': 'Normal',
    'Type 2_Electric': 'Electric',
    'Type 2_Ground': 'Ground',
    'Type 2_Fairy': 'Fairy',
    'Type 2_Fighting': 'Fighting',
    'Type 2_Psychic': 'Psychic',
    'Type 2_Rock': 'Rock',
    'Type 2_Steel': 'Steel',
    'Type 2_Ice': 'Ice',
    'Type 2_Ghost': 'Ghost',
    'Type 2_Dark': 'Dark'
}

encoded_df_type2=encoded_df_type2.rename(columns=col_rename2)
new_col_order2 = ['Grass', 'Poison', 'Fire', 'Flying', 'Dragon', 'Water', 'Bug', 'Normal', 'Electric', 'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Steel', 'Ice', 'Ghost', 'Dark']
encoded_df_type2 = encoded_df_type2.rename(columns=col_rename2)[new_col_order2]
display(encoded_df_type2.head())

,Grass,Poison,Fire,Flying,Dragon,Water,Bug,Normal,Electric,Ground,Fairy,Fighting,Psychic,Rock,Steel,Ice,Ghost,Dark
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,Grass,Poison,Fire,Flying,Dragon,Water,Bug,Normal,Electric,Ground,Fairy,Fighting,Psychic,Rock,Steel,Ice,Ghost,Dark
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [49]:
# Merging now with add function. And boom! Thanks Giancarlo for the tip!

In [50]:
merged_df1 = encoded_df_type1.add(encoded_df_type2)

In [51]:
merged_df1.head()

,Grass,Poison,Fire,Flying,Dragon,Water,Bug,Normal,Electric,Ground,Fairy,Fighting,Psychic,Rock,Steel,Ice,Ghost,Dark
0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Problem Solving Iteration 3

Now we have encoded the pokemon types, we will identify the relationship between `Total` and the encoded fields. Our expectation is:

#### There are relationships between `Total` and the encoded pokemon type variables and we need to identify the correlations.

The information we need to collect is:

#### How to identify the relationship between `Total` and the encoded pokemon type fields?

There are multiple ways to answer this question. The easiest way is to use correlation. In the cell below, calculate the correlation of `Total` to each of the encoded fields. Rank the correlations and identify the #1 pokemon type that is most likely to have the highest `Total`.

In [55]:
finaldata_merged = pd.concat([data['Total'], merged_df1], axis=1)

In [56]:
finaldata_merged.corr()

,Total,Grass,Poison,Fire,Flying,Dragon,Water,Bug,Normal,Electric,Ground,Fairy,Fighting,Psychic,Rock,Steel,Ice,Ghost,Dark
Total,1.000000,-0.052592,-0.090441,0.078726,0.059383,0.229705,-0.021665,-0.145781,-0.105331,0.020971,0.015060,-0.036698,0.077786,0.124688,0.032731,0.109703,0.060248,0.003641,0.056154
Grass,-0.052592,1.000000,0.110372,-0.108248,-0.081366,-0.078818,-0.126894,-0.034430,-0.117156,-0.078818,-0.097033,-0.048756,-0.051171,-0.094009,-0.072829,-0.061537,-0.027476,0.075316,-0.048339
Poison,-0.090441,0.110372,1.000000,-0.085471,-0.067950,-0.055525,-0.073986,0.121210,-0.110800,-0.074838,-0.053878,-0.066495,-0.039613,-0.103195,-0.081036,-0.074036,-0.064726,0.008736,-0.018227
Fire,0.078726,-0.108248,-0.085471,1.000000,-0.028855,-0.038069,-0.114850,-0.060536,-0.085097,-0.057104,-0.022621,-0.067651,0.051130,-0.061243,-0.064677,-0.056108,-0.065851,-0.013459,-0.020368
Flying,0.059383,-0.081366,-0.067950,-0.028855,1.000000,0.026237,-0.092030,0.064571,0.125506,-0.020407,-0.060578,-0.052669,-0.086119,-0.063872,-0.048221,-0.081400,-0.049498,-0.061555,-0.022164
Dragon,0.229705,-0.078818,-0.055525,-0.038069,0.026237,1.000000,-0.083285,-0.081200,-0.098702,-0.024000,0.052430,-0.035541,-0.068775,-0.026557,-0.032360,-0.044417,0.015173,-0.019410,-0.003963
Water,-0.021665,-0.126894,-0.073986,-0.114850,-0.092030,-0.083285,1.000000,-0.123983,-0.154994,-0.069109,-0.006844,-0.067703,-0.073778,-0.099639,0.011447,-0.096131,0.000242,-0.077314,-0.028548
Bug,-0.145781,-0.034430,0.121210,-0.060536,0.064571,-0.081200,-0.123983,1.000000,-0.120219,-0.045111,-0.063544,-0.072148,-0.048645,-0.111968,-0.003706,0.047178,-0.070229,-0.058915,-0.082062
Normal,-0.105331,-0.117156,-0.110800,-0.085097,0.125506,-0.098702,-0.154994,-0.120219,1.000000,-0.067737,-0.102044,-0.001720,-0.071687,-0.112381,-0.106877,-0.097645,-0.085366,-0.094420,-0.099751
Electric,0.020971,-0.078818,-0.074838,-0.057104,-0.020407,-0.024000,-0.069109,-0.045111,-0.067737,1.000000,-0.059420,-0.035541,-0.068775,-0.091928,-0.072188,-0.001346,-0.033382,-0.041592,-0.067375
Ground,0.015060,-0.097033,-0.053878,-0.022621,-0.060578,0.052430,-0.006844,-0.063544,-0.102044,-0.059420,1.000000,-0.069360,-0.080531,-0.079079,0.072085,-0.020771,-0.003872,-0.035908,-0.023480
Fairy,-0.036698,-0.048756,-0.066495,-0.067651,-0.052669,-0.035541,-0.067703,-0.072148,-0.001720,-0.035541,-0.069360,1.000000,-0.061108,0.027227,0.002212,0.013155,-0.051232,-0.056665,-0.059864
Fighting,0.077786,-0.051171,-0.039613,0.051130,-0.086119,-0.068775,-0.073778,-0.048645,-0.071687,-0.068775,-0.080531,-0.061108,1.000000,0.000596,-0.055090,-0.005161,-0.059483,-0.065792,-0.007791
Psychic,0.124688,-0.094009,-0.103195,-0.061243,-0.063872,-0.026557,-0.099639,-0.111968,-0.112381,-0.091928,-0.079079,0.027227,0.000596,1.000000,-0.069031,0.024540,-0.042311,-0.070947,-0.044327
Rock,0.032731,-0.072829,-0.081036,-0.064677,-0.048221,-0.032360,0.011447,-0.003706,-0.106877,-0.072188,0.072085,0.002212,-0.055090,-0.069031,1.000000,0.049202,-0.017110,-0.069057,-0.033493
Steel,0.109703,-0.061537,-0.074036,-0.056108,-0.081400,-0.044417,-0.096131,0.047178,-0.097645,-0.001346,-0.020771,0.013155,-0.005161,0.024540,0.049202,1.000000,-0.057042,0.026479,-0.023978
Ice,0.060248,-0.027476,-0.064726,-0.065851,-0.049498,0.015173,0.000242,-0.070229,-0.085366,-0.033382,-0.003872,-0.051232,-0.059483,-0.042311,-0.017110,-0.057042,1.000000,-0.029914,-0.010163
Ghost,0.003641,0.075316,0.008736,-0.013459,-0.061555,-0.019410,-0.077314,-0.058915,-0.094420,-0.041592,-0.035908,-0.056665,-0.065792,-0.070947,-0.069057,0.026479,-0.029914,1.000000,0.001484
Dark,0.056154,-0.048339,-0.018227,-0.020368,-0.022164,-0.003963,-0.028548,-0.082062,-0.099751,-0.067375,-0.023480,-0.059864,-0.007791,-0.044327,-0.033493,-0.023978,-0.010163,0.001484,1.000000

In [59]:
corr = finaldata_merged.corrwith(data['Total'], axis = 0)
corr

Total       1.000000
Grass      -0.052592
Poison     -0.090441
Fire        0.078726
Flying      0.059383
Dragon      0.229705
Water      -0.021665
Bug        -0.145781
Normal     -0.105331
Electric    0.020971
Ground      0.015060
Fairy      -0.036698
Fighting    0.077786
Psychic     0.124688
Rock        0.032731
Steel       0.109703
Ice         0.060248
Ghost       0.003641
Dark        0.056154
dtype: float64

# Bonus Question

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

In [ ]:
# Correlation matrix tells us that Dragon and Psychic show a better correlation with Total.

# Therefore I would pick a Pokemon with Dragon/Psychic types